.MainNavigation {

}

  .MainNavigation-list {
    margin: 0;
    padding: 0;
  }

    /* Temporary super specific selector :D */
    .MainNavigation-list > .MainNavigation-item {
      margin: 0;
      padding: 0 0.75rem 0 2em;
      list-style: none;
      position: relative;
      border-bottom: 1px solid var(--color-border-muted);
      overflow: hidden;
    }

      .MainNavigation-itemContainer {
        display: flex;
        align-items: center;
      }

      /* Temporary super specific selector :D */
      .MainNavigation-list > .MainNavigation-item > .MainNavigation-itemContainer {
        padding: 0.5rem 0;
      }
      .MainNavigation-subnav .MainNavigation-itemContainer {
        padding: 3px 0 3px 10px;
      }

        /* Temporary super specific selector :D */
        .MainNavigation-list > .MainNavigation-item > .MainNavigation-itemContainer > .MainNavigation-link {
          display: block;
          color: var(--color-text-emphasized);
          font-family: var(--ui-font-family);;
          font-size: var(--font-size-small);
          font-weight: var(--font-weight-bold);
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: 0.08em;
        }

        /**
         * Toggler
         */
        .MainNavigation-toggler {
          position: absolute;
          left: 0;
          transition: transform var(--transition-easing-default) var(--transition-duration-default);
        }

        .MainNavigation-toggler[aria-pressed="true"] {
          transform: rotate(90deg);
        }

      /**
       * Subnav
       */
      .MainNavigation-subnav {
        overflow: hidden;
        padding: 0;
        transition: height var(--transition-easing-default) var(--transition-duration-default);
      }

      .MainNavigation-subnav[aria-hidden="true"] {
        display: none;
        height: 0;
      }

        .MainNavigation-subnav .MainNavigation-item {
          margin: 0 0 0.25rem 0;
          padding: 0 0 0 1rem;
          list-style: none;
          position: relative;
          border: none;
        }

        .MainNavigation-subnav .MainNavigation-item:last-child {
          margin: 0 0 1.25rem 0;
        }

        .MainNavigation-subnav .MainNavigation-item.is-active {
          box-shadow: 3px 0 0 var(--color-border-accent) inset;
        }

          .MainNavigation-subnav .MainNavigation-link {
            display: block;
            font-size: var(--font-size-base);
            font-weight: var(--font-weight-normal);
            color: var(--color-text-base);
            text-transform: none;
            text-decoration: none;
            transition: color var(--transition-duration-default) var(--transition-easing-default);
          }

          .MainNavigation-subnav .MainNavigation-link:hover {
            color: var(--color-text-accent);
          }
