<div
  data-controller='DemoHTML'
  data-id="{{id}}"
  data-url="{{url}}"
  {{#if queryString}}data-querystring="{{queryString}}"{{/if}}
  class="DemoCode DemoView--html">
  <pre><code class="language-html js-code"></code></pre>
</div>
