<div class="View">
  {{#set 'sessionid' 15}}
    <div class="View-wrapper">
      <div class="View-preview">
        {{>component:Preview sessionid=sessionid url=(concat '/api' view.id) querystring="editmode=true" view=view id=(concat "edit" view.id)}}
      </div>
      <div class="View-editor">
        {{#each partials}}
          {{>component:EditForm sessionid=../sessionid  view=../view}}
        {{/each}}
      </div>
    </div>
  {{/set}}
</div>
