.Example {

}

.Example-content {
  position: relative;
  margin-bottom: .75em;
  color: #000;
}

.Example-content:after {
  content: "";
  clear: both;
  display: table;
}

.Example-component {
  padding: 20px;
}

.Example-rendered {
  position: relative;
  transform-origin: 0 0;
}

.Example-renderContainer {
  overflow: hidden;
  transform: translate3d(0,0,0);
}

.Example-iframe {
  border: none;
  display: block;
  margin: auto;
  width: 100%;
}

.Example-data {

}

.Example-edit {
  float: right;
}

.Example-editForm {

}
.Example-editLabel {
  display: block;
}

.Example-content {
  margin-left: -20px;
  margin-right: -20px;
}
