<section class="Block">
  <div class="l-text-container l-gutter">
    {{#with title}}
      {{> component:Title}}
    {{/with}}
    {{> component:preamble dropcap=dropcap content=content}}
  </div>
</section>
