:root {
  --section-horizontal-padding: 3em;
}

.Section {

}

.Section-header {
  display: flex;
  align-items: flex-end;
  height: 7rem;
  padding: 0 var(--section-horizontal-padding);
  /*border-bottom: 1px solid var(--color-border-base);*/
  border-bottom: 1px solid rgba(48, 48, 48, 0.1); /* :/ */
  box-sizing: border-box;
}

.Section-content {
  padding: 2rem var(--section-horizontal-padding);
}