<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="">
  </head>
  <body style="margin: 0; background: #cecece;">
  <div style="background: #fefefe; box-shadow: 0 0 20px rgba(0,0,0,0.6); overflow:hidden; width:60%; margin: 50px auto 0; padding: 80px 60px 0; height: 70%; bottom: 0; position: absolute; left: 0; right: 0;">
  {{{info}}}
  </div>
  </body>
</html>
