{{#*inline "gridCell"}}
  <div class="Grid-cell{{#each width}} u-width--{{this}}{{/each}}">
    {{#with content}}
      {{> helper:content}}
    {{/with}}
  </div>
{{/inline}}

<div class="Grid{{#each mode}} Grid--{{this}}{{/each}}">
  {{#each items}}
    {{> gridCell}}
  {{/each}}
</div>
