<div class="Grid">
  <div class="Grid-cell width-1of2 m-width-1of3 l-width-1of4">
    EXEMPEL
  </div>
  <div class="Grid-cell width-1of2 m-width-1of3 l-width-1of4">
    EXEMPEL
  </div>
  <div class="Grid-cell width-1of2 m-width-1of3 l-width-1of4">
    EXEMPEL
  </div>
  <div class="Grid-cell width-1of2 m-width-1of3 l-width-1of4">
    EXEMPEL
  </div>
</div>
