:root {}

.View {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px;
}
.View-example {
  background: #999;
  margin: -20px -20px 20px;
}
.View-exampleDocument {
  background: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  transform: scale(0.6);
  pointer-events: none;
}
.View-code {
  background: #eee;
  padding: 10px 20px;
  margin: 0 0 20px;
}
