<div class="Popover js-popover" draggable>
  <div class="Popover-header">
    <span class="Popover-title">{{title}}</span>
    {{>component:IconButton modifiers="small" class="js-closeButton Popover-closeButton" icon="close"}}
  </div>

  <div class="Popover-content js-content">
    {{#if partial-content}}
      {{> @partial-block }}
    {{else}}
      {{#with content}}
        {{>helper:content}}
      {{/with}}
    {{/if}}
  </div>
</div>
