:root {
  --color-white-base: #fff;

  --color-gray: #ececec;
  --color-gray-base: #5b5b5b;
  --color-gray-xlight: #f4f4f4;
  --color-gray-light: #ececec;
  --color-gray-dark: #303030;
  --color-blue: #0079c2;
  --color-green-base: #6cc055;

  /* Text colors */
  --color-text-base: var(--color-gray-base);
  --color-text-emphasized: var(--color-gray-dark);
  --color-text-accent: var(--color-green-base);

  /* Background colors */
  --color-bg-base: var(--color-gray-xlight);
  --color-bg-light: var(--color-white-base);
  --color-bg-dark: var(--color-gray-dark);

  /* Border colors */
  --color-border-base: var(--color-gray-light);
  --color-border-muted: var(--color-gray-xlight);
  --color-border-accent: var(--color-green-base);

  /* Svg colors */
  --color-fill-base: var(--color-gray-dark);
  --color-fill-muted: var(--color-gray-base);
  --color-fill-accent: var(--color-green-base);

  /* UI colors */
  --color-scrollbar-thumb: var(--color-green-base);
}
