<div class="Tabarea{{#if dropdown}} Tabarea--dropdown{{/if}}" role="tabpanel" aria-labeledby="tab-{{id}}" id="panel-{{id}}" aria-hidden="{{#unless visible}}true{{/unless}}">
  {{> @partial-block }}
</div>
