.ComponentListItem {
  text-align: center;
  text-decoration: none;
}

  .ComponentListItem-imageContainer {
    position: relative;
    overflow: hidden;
    margin: 0 0 1rem;
    border: 4px solid #fff;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    transition: box-shadow var(--transition-duration-default) var(--transition-easing-default);
  }

  .ComponentListItem:hover .ComponentListItem-imageContainer {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  }

  .ComponentListItem-title {
    color: var(--color-text-emphasized);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.08em;
  }