<p>Content in an example file is used to document how to use the component with more expression than markdown</p>

{{#if css.variables}}
<strong>Variables</strong>
<ul>
  {{#each css.variables}}
  <li>--{{@key}}: {{.}}</li>
  {{/each}}
</ul>
{{/if}}

{{#if css.modifiers}}
<strong>Modifiers</strong>
<ul>
  {{#each css.modifiers}}
  <li>{{@component.name}}--{{.}}</li>
  {{/each}}
</ul>
{{/if}}
