<div class="PopoverHost" data-controller="PopoverHost">
  <!-- data-controller="Draggable" -->
  <div>
    <div class="{{prefix}}Popover js-popover">
      <div class="Popover-header">
        <span class="js-title Popover-title"></span>

        <button class="js-closeButton Popover-closeButton IconButton IconButton--small">
          {{> component:icon name='close' }}
        </button>
      </div>

      <div class="js-content Popover-content"></div>
    </div>
  </div>
</div>