<div class="DemoHeader Page-subheader" data-controller="DemoHeader">
  {{#if @component.config.schema}}
    {{> module:demo/form data=data schema=schema class="js-editForm" }}
  {{/if}}

  {{#if title}}
    <div class="DemoHeader-title">
      <h2>{{title}}</h2>
    </div>
  {{/if}}

  <div class="DemoHeader-nav">
    <div class="DemoHeader-menu DemoHeader-menu--primary">
      {{> component:tablist
            items=(tablistdata id=uid tabs="Render#render Data#data HTML#html")
            small="true"
            inline="true" }}
    </div>

    {{#if component.config.schema}}
      <ul class="DemoHeader-menu DemoHeader-menu--secondary">
        <li class="DemoHeader-menuItem">
          <button class="js-showEditFormbutton {{prefix}}IconButton {{prefix}}IconButton--medium">
            {{> component:icon name='settings' }}
          </button>
        </li>
      </ul>
    {{/if}}
  </div>
</div>
