<div class="PageNavbar Navbar">
  <div class="Navbar-section Navbar-section--left">
    <button class="Navbar-button IconButton IconButton--large">
      {{> component:icon name='menu' }}
    </button>
  </div>

  <div class="Navbar-section Navbar-section--center">
    <h1 class="Navbar-title">Components</h1>
  </div>
</div>