<div class="CodeEditor" data-controller="CodeEditor">
  <code><pre class="code{{#if language}} language-{{language}}{{/if}}" data-controller="fetcher"{{#if fetch}} data-url="{{fetch}}"{{/if}}>{{{code}}}</pre></code>
</div>
