/**
 * White plate background
 */

.Blockquote--2 {
  background-color: var(--color-white);
  padding: 1.65em;
}

/**
 * Centered
 */

.Blockquote--centered {
  text-align: center;
}

/**
 * With avatar
 */

.Blockquote--avatar {
  position: relative;
  background-color: var(--color-white);
  padding: 2.78928571em 1.65em 1.65em;
  margin-top: 1.96428571em;
}

/**
 * Full width
 */

.Blockquote--fullwidth {
  width: auto;
}

/**
 * Avatar
 */

.Blockquote-avatar {
  position: absolute;
  left: 50%;
  top: 0;
  max-width: 100px;
  border-radius: 100px;
  transform: translateX(-50%) translateY(-50%);
}
