.Tabarea {

}
.Tabarea--dropdown {
  position: absolute;
  padding: 20px;
  background: #fff;
  z-index: 5;
  right: 0;
  width: 300px;
  border: 1px solid rgba(0,0,0,0.4);
}
.Tabarea[aria-hidden="true"] {
  display: none;
  margin-bottom: 20px;
}
