:root {
  --page-horizontal-padding: 1.5rem;
  --large-page-horizontal-padding: 3rem;
}

.Page-root {
  height: 100%;
}

.Page {
  height: 100%;
  margin: 0;
  background: var(--color-bg-base);
}

/**
 * Main
 */
.Page-main {
  position: relative;
  min-height: 100%;
}

@media (--min-medium) {
  .Page-main {
    margin-left: 16em;
  }
}

.Page-section {
  padding: 2rem var(--page-horizontal-padding);
}

@media (--min-medium) {
  .Page-section {
    padding: var(--large-page-horizontal-padding);
  }
}