:root {
  --base-font-size: 16px;
  --header-font-size: 22px;

  --primary-font-family: TheSerif, georgia, serif;
  --secondary-font-family: TheSans, arial, sans-serif;

  --base-font-family: var(--primary-font-family);
  --display-font-family: var(--primary-font-family);
  --ui-font-family: var(--secondary-font-family);;

  /* Type scale */
  --font-size-xlarge: 30px;
  --font-size-large: 28px;
  --font-size-base: 16px;
  --font-size-small: 14px;
  --font-size-xsmall: 12px;

  /* Font weight */
  --font-weight-light: 300;
  --font-weight-normal: 500;
  --font-weight-semibold: 700;
  --font-weight-bold: 900;

  /* Text styles */
  --plain-text: var(--font-weight-normal) normal var(--base-font-size)/1.4em var(--base-font-family);
  --default-header: var(--font-weight-semibold) normal var(--header-font-size)/1.3em var(--display-font-family);
  --ui-text: var(--font-weight-normal) normal var(--base-font-size)/1.4em var(--ui-font-family);
  --text-code: var(--font-weight-normal) normal 12px/1.5em courier;
}

h1, h2, h3, h4, h5 {
  margin: 0 0 0.5em;
  font: var(--default-header);
}

.Text,
.Text-plain {
  font: var(--plain-text);
}

.Text-header {
  font: var(--default-header);
}

/**
 * Text size utils
 */
.Text-xlarge {
  font-size: var(--font-size-xlarge);
}

.Text-large {
  font-size: var(--font-size-large);
}

.Text-base {
  font-size: var(--font-size-base);
}

.Text-small {
  font-size: var(--font-size-small);
  line-height: 1.125rem;
}

.Text-xsmall {
  font-size: var(--font-size-xsmall);
}
