<div class="PagePane {{prefix}}Pane">
  <div class="{{prefix}}Pane-header">
    <div class="PagePane-logo">
      <span>Daytona</span>
    </div>

    <h1 class="Pane-title Text-header Text-xlarge">Styleguide</h1>
  </div>

  <div class="{{prefix}}Pane-menu">
    {{> module:main-navigation}}
  </div>
</div>
