<div class="PagePane Pane" data-controller="PagePane">
  <div class="Pane-header">
    <div class="PagePane-logo">
      <span>{{styleguide.clientName}}</span>
    </div>

    <h1 class="Pane-title Text-header Text-xlarge">{{styleguide.guideName}}</h1>
  </div>

  <div class="Pane-menu">
    {{> module:MainNavigation}}
  </div>
</div>
