.Toolbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 6rem;
  width: 100%;
}

  .Toolbar-section {
    display: flex;
    align-items: flex-end;
  }

    .Toolbar-title {
      margin: 0 0 1.5rem 0;
      line-height: 1;
    }

    .Toolbar-menu {

    }

    .Toolbar-menu--left {

    }

    .Toolbar-menu--right {

    }

      .Toolbar-menuItem {

      }