<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body style="margin: 0; background: #fefefe; ">
  <div class="Page Page--nopadding text">
    <div id="Standalone-wrapper">
      {{{example}}}
    </div>
  </div>
  <script src="/assets/main.js"></script>
  <script src="/api/assets/main.js"></script>
  </body>
</html>
