<div class="{{prefix}}Page-innerWrapper">

  <div class="PageHeader">
    <h1 class="PageHeader-title Text-header Text-xlarge">{{category}}</h1>

    <div class="PageHeader-nav">

      <ul class="PageHeader-menu PageHeader-menu--secondary">
        <li class="PageHeader-menuItem">
          <button class="{{prefix}}IconButton IconButton--medium">
            {{> component:icon name='grid' }}
          </button>
        </li>

        <li class="PageHeader-menuItem">
          <button class="{{prefix}}IconButton IconButton--medium">
            {{> component:icon name='list' }}
          </button>
        </li>
      </ul>

    </div>

  </div>

  <div class="Page-section">
    {{#equals category "base"}}
      <div class="Grid Grid--withGutter">
        {{#each base}}
        <div class="Grid-cell width-1of2 m-width-1of3 l-width-1of4">
          {{> module:component-list-item}}
        </div>
        {{/each}}
      </div>
    {{/equals}}

    {{#equals category "components"}}
    <div class="Grid Grid--withGutter">
      {{#each components}}
      <div class="Grid-cell width-1of2 m-width-1of3 l-width-1of4">
        {{> module:component-list-item}}
      </div>
      {{/each}}
    </div>
    {{/equals}}

    {{#equals category "modules"}}
      <div class="Grid Grid--withGutter">
        {{#each modules}}
        <div class="Grid-cell width-1of2 m-width-1of3 l-width-1of4">
          {{> module:component-list-item}}
        </div>
        {{/each}}
      </div>
    {{/equals}}

    {{#equals category "views"}}
    <div class="Grid Grid--withGutter">
      {{#each views}}
      <div class="Grid-cell width-1of2 m-width-1of3 l-width-1of4">
        {{> module:component-list-item}}
      </div>
      {{/each}}
    </div>
    {{/equals}}
  </div>

</div>
