<div class="{{prefix}}Page-innerWrapper">
  <h1>Category: {{category}}</h1>
  {{#equals category "base"}}
    {{#each base}}
    {{> component:component}}
    {{/each}}
  {{/equals}}
  {{#equals category "components"}}
    {{#each components}}
    {{> component:component}}
    {{/each}}
  {{/equals}}
  {{#equals category "modules"}}
    {{#each modules}}
    {{> component:component}}
    {{/each}}
  {{/equals}}
  {{#equals category "views"}}
    {{#each views}}
    {{> component:view}}
    {{/each}}
  {{/equals}}
</div>
