<div class="Page-innerWrapper">

  <div class="PageHeader">
    <h1 class="PageHeader-title Text-header Text-xlarge">{{category}}</h1>

    <div class="PageHeader-nav">

      <ul class="PageHeader-menu PageHeader-menu--secondary">
        <li class="PageHeader-menuItem">
          <button class="IconButton IconButton--medium">
            {{> component:Icon name='grid' }}
          </button>
        </li>

        <li class="PageHeader-menuItem">
          <button class="IconButton IconButton--medium">
            {{> component:Icon name='list' }}
          </button>
        </li>
      </ul>

    </div>

  </div>

  <div class="Page-section">
    {{#with (getProperty this category)}}
      {{>component:ComponentList components=this}}
    {{/with}}
  </div>

</div>
