:root {

  --transition-easing-default: cubic-bezier(0,0,0.21,1);

  --transition-duration-default: 0.33333s;
  --transition-duration-slow: 0.666666s;

  --transition-duration: 0.2s;
  --transition-easing: ease-out;
  --transition-all: all var(--transition-duration) var(--transition-easing);
  --transition-padding: padding var(--transition-duration) var(--transition-easing);
  --transition-height: height var(--transition-duration) var(--transition-easing);
  --transition-font: font var(--transition-duration) var(--transition-easing);
  --transition-color: color var(--transition-duration) var(--transition-easing);
  --transition-bg: background var(--transition-duration) var(--transition-easing);
}
