<div class="PageNavbar Navbar" data-controller="PageNavbar">
  <div class="Navbar-section Navbar-section--left">
    <button class="js-toggle-nav-button Navbar-button IconButton IconButton--large">
      {{> component:Icon name='menu' }}
    </button>
  </div>

  <div class="Navbar-section Navbar-section--center">
    <h1 class="Navbar-title">Components</h1>
  </div>
</div>
