@import "example.css";
:root {
  --color-blue: #333;
  --color-green: #444;
  --color-brown: #555;
}
.Component {
  position: relative;
}
.Component-versionTag {
  padding: 3px 5px;
  background: darkred;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}
