@import "example.css";
:root {
  --color-blue: #333;
  --color-green: #444;
  --color-brown: #555;
}
.Component {
  position: relative;
  border: 1px solid #eee;
  padding: 20px;
  margin: 0 0 20px;
}
.Component-versionTag {
  padding: 3px 5px;
  background: darkred;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}
