{{#if param}}
  <div class="Demo-formParam">
    {{#if param.$type}}
      {{#with param}}
        {{>component:Demo/form/input name=../name value=../data}}
      {{/with}}
    {{else if (objectLength param)}}
      <div class="Demo-formGroup">
        <strong class="Demo-formGroupTitle">{{@key}}</strong>
        {{#each param}}
          {{> component:Demo/form/param name=(concat ../name '.' @key) data=(getProperty ../data @key) param=this}}
        {{/each}}
      </div>
    {{/if}}
  </div>
{{/if}}
