<div>
  {{#with (getProperty (getProperty this category) component)}}
    {{#equals this.category "base"}}
      {{> module:package}}
    {{/equals}}

    {{#equals this.category "component"}}
      {{> module:package}}
    {{/equals}}

    {{#equals this.category "module"}}
      {{> module:package}}
    {{/equals}}

    {{#equals this.category "view"}}
      {{> module:view}}
    {{/equals}}

    {{#equals this.category "helper"}}
      {{> module:package}}
    {{/equals}}
  {{/with}}
</div>
