.ComponentList {}

.ComponentList .ComponentList-cell {
  text-align: center;
  text-decoration: none;
  flex: 1 1 50%;
  width: auto;
}
@media (--min-medium) {
  .ComponentList .ComponentList-cell {
    flex-basis: 33.33%;
  }
}
@media (--min-large) {
  .ComponentList .ComponentList-cell {
    flex-basis: 25%;
  }
}

@media (--min-xlarge) {
  .ComponentList .ComponentList-cell {
    flex-basis: 20%;
  }
}

.ComponentList-image {
  position: relative;
  background: #eee;
  margin: 0 0 1rem;
  border: 4px solid #fff;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  transition: box-shadow var(--transition-duration-default) var(--transition-easing-default);
}
.ComponentList-item--stack .ComponentList-image:before,
.ComponentList-item--stack .ComponentList-image:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 4px solid #fff;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background: #eee;
  z-index: -1;
  transition: transform var(--transition-duration-default) var(--transition-easing-default);
}
.ComponentList-item--stack .ComponentList-image:before{
  margin: 4px;
}

.ComponentList-item:hover .ComponentList-image{
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
.ComponentList-item:hover .ComponentList-image:after {
  transform: translate(2px, 2px);
}
.ComponentList-item:hover .ComponentList-image:before {
  transform: translate(4px, 4px);
}

.ComponentList-title {
  color: var(--color-text-emphasized);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.ComponentList--listed .ComponentList-cell {
  width: 100% !important;
  flex: 0 0 100% !important;
}

@media (--min-large) {
  .ComponentList--listed .ComponentList-cell {
    flex-basis: 50% !important;
  }
}

.ComponentList--listed .ComponentList-item {
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ComponentList--listed .ComponentList-image {
  align-items: center;
  flex: 0 0 100px;
  max-width: 20%;
  margin-right: 20px;
}

.ComponentList--listed .ComponentList-title {
  flex: 1;
}
