<div class="Page-innerWrapper">
  <div class="PageHeader">
    <h1 class="PageHeader-title Text-header Text-xlarge">{{pageHeader}}</h1>
  </div>

  <div class="Page-section" style="max-width: 40em;">
    {{#if @root.info}}
      {{{markdown @root.info}}}
    {{/if}}
  </div>
</div>
