{{#if param}}
  <div class="EditForm-param">
    {{#if (or param.$type param.$variations)}}
      {{#if (and (equals param.$type 'Array') (isArray data))}}
        {{#each data}}
          {{>component:EditForm/input name=(concat ../name '.' @key) value=this $type='JSON'}}
        {{/each}}
      {{else}}
        {{#with param}}
          {{>component:EditForm/input name=../name value=../data}}
        {{/with}}
      {{/if}}
    {{else if (objectLength param)}}
      <div class="EditForm-group">
        <strong class="EditForm-groupTitle">{{@key}}</strong>
        {{#each param}}
          {{> component:EditForm/param name=(concat ../name '.' @key) data=(getProperty ../data @key) param=this}}
        {{/each}}
      </div>
    {{/if}}
  </div>
{{/if}}
