:root {
  --pane-background-color: var(--color-bg-light);
}

.Pane {
  background: var(--pane-background-color);
}

  .Pane-header {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1.5rem 1rem;
    height: 7rem;
    background: var(--pane-header-background-color);
    border-bottom: 1px solid var(--color-border-base);
    box-sizing: border-box;
  }

    .Pane-title {
      margin: 0;
      line-height: 1;
    }

  .Pane-menu {
    padding: calc(6em/16) 0;
  }
